@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&family=Mulish:wght@200;300;400;500;600;800;900&family=Nunito:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #60a5fa;
    --primary-dark: #3b82f6;
    --primary-light: #bfdbfe;
    --white: #eff6ff;
    --black: #0f172a;
    --grey: #cbd5e1;
    --light-grey: #f8fafc;
    --color-shadow: #334155;
}

.container {
    display: grid;
    grid-template-columns: 280px 3fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color: var(--primary);
    color: #ecfdf5;
    gap: 1rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    box-shadow: 5px 5px 5px var(--grey);
    /* z-index: 8; */
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .6rem;
    cursor: pointer;
    transition: .2s all ease-in-out;
    padding: .1rem;
}

.menu-item:hover {
    transform: scale(1.2);
    background-color: var(--primary-dark);
    border-radius: 12px;
}

.menu-item > span {
    margin: 0 1rem;
}

.menu-one {
    margin-left: -1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.menu-two {
    font-weight: 400;
}

.menu-three {
    font-weight: 200;
}


.header {
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--white);
    height: 100%;
    color: var(--black);
    box-shadow: 1px 5px 5px var(--grey);
    z-index: 9;
}



.action-buttons {
    grid-column: 2 / 3;
}

.search {
    display: flex;
    align-items: center;
    margin: 0 4rem;
}

.search > input {
    border-radius: 24px;
    border: 0;
    background-color: var(--primary-light);
    padding: 4px 8px;
    font-size: 1rem;
    width: 100%;
    margin-left: 1rem;
}

.username {
    display: flex;
    align-items: center;
    color: 111827;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    font-weight: 400;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 2rem;
}

.action-buttons > button {
    background-color: var(--primary);
    border: 0;
    padding: .2rem 2rem;
    font-size: 1rem;
    color: var(--white);
    border-radius: 24px;
    font-weight: 400;
    cursor: pointer;
}



.content > h4 {
    font-weight: 500;
    height: fit-content;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px;
    padding: 2rem 1rem;
    color: var(--black);
    background-color: var(--light-grey);
    gap: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    padding: 2rem 2rem 0;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 1px 2px 5px var(--black);
}

.card-icons {
    margin: 2rem 0 1rem;
    align-self: flex-end;
}

.announcements .card {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    padding: 2rem 2rem;
    border-radius: 12px;
    height: fit-content;
    gap: 1rem;
}

.announcements h4 {
    font-size: .8rem;
}

.announcements p {
    font-size: .8rem;
}
